@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&family=Work+Sans&display=swap');

body {
    font-family: 'Space Mono', monospace;
    background-color: cornflowerblue;
    color: azure;
}
h1, h2 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    color: salmon;
}

h2 {
    color: chartreuse;
}

p {
    
}